/*p {
font-family: "LucidaGrande", sans-serif;
text-align: center;
}

button {
font-family: "LucidaGrande", sans-serif;
font-size: 12px;
border: 1px solid;
height: 20px;
}

input[type=text] {
height: 12px;
}

#content {
margin-right: auto;
margin-left: auto;
vertical-align: middle;
width: 100%;
}

#content ul {
padding: 0px;
}

#content ul li {
margin: 3px 0px 3px 0px;
}*/
* {
	padding: 0;
	margin: 0;
}

html{
  	display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

body {
	font-family: "LucidaGrande", sans-serif;
	display: table-cell;
    vertical-align: middle;
}

.reset {
	display: block;
	position: relative;
}

.row {
	width: 100%;
}

.wrapper {
	vertical-align: middle;
}

#login_logo {
	text-align: center;
}

#login_logo img {
	display: inline-block;
	width: 60%;
}

#login_note {
	margin: 10px 0;
	text-align: center;
	text-transform: uppercase;
}

#login_button {
	text-align: center;
}

#login_button div {
	display: inline-block;
	padding: 5px 0;
	margin: 0 7px;
}

#login_button span {
	display: block;
}

#token {
	text-align: center;
	margin: 7px 0;
}

#token span {
	display: block;
}

#token button {
	display: block;
	margin: 0 auto;
}

#login_button div {
	border-bottom: 1px solid transparent;
}

#login_button div:hover {
	border-bottom: 1px solid #31b4e0;
	cursor: pointer;
}
